<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de Sesión - Health Manager</title>
  <link rel="shortcut icon" href="../src/Icono.png" />
  <link rel="stylesheet" href="../css/stylesLog.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Jomhuria&family=Kaisei+Opti&display=swap" rel="stylesheet">
</head>
<body class="login-page">
  <!-- Login Section -->
  <section class="form-section">
    <div class="form-container">
      <h1>Inicio de Sesión</h1>
      <form id="login-form">
        <input type="email" id="email" placeholder="Correo Electrónico" required>
        <input type="password" id="password" placeholder="Contraseña" required>
        <button type="submit" class="login-btn">Iniciar Sesión</button>
        <p>¿No tienes cuenta? <a href="register.html">Crea una</a></p>
      </form>
      <a href="../index.html" class="back-link"><strong>Volver</strong></a>
    </div>
  </section>

  <script src="../js/login.js"></script>

</body>
</html>
