<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro - Health Manager</title>
  <link rel="shortcut icon" href="../src/Icono.png" />
  <link rel="stylesheet" href="../css/stylesLog.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Jomhuria&family=Kaisei+Opti&display=swap" rel="stylesheet">
</head>
<body class="register-page">
  <!-- Registration Section -->
  <section class="registration">
    <div class="form-container">
      <h1>Comienza tu Proceso</h1>
      <h2>¡HOY MISMO!</h2>
      <form id="registration-form">
        <div class="input-group">
          <input type="text" id="first_name" placeholder="Nombre" required>
          <input type="text" id="last_name" placeholder="Apellido" required>
        </div>
        <input type="email" id="email" placeholder="Dirección de Correo Electrónico" required>
        <input type="password" id="password" placeholder="Ingrese una Contraseña" required>
        <button type="submit" class="register-btn">Crear Cuenta</button>
        <p>¿Ya tienes cuenta? <a href="login.html">Inicia Sesión</a></p>
      </form>
      <a href="../index.html" class="back-link"><strong>Volver</strong></a>
    </div>
  </section>

  <script src="../js/register.js"></script>

</body>
</html>
